:root {
  --title-font: "Stardos Stencil", system-ui;
  --subtitle-font: "Cormorant Infant", serif;
  --text-font: "Telex", sans-serif;
  --soft-pink: #ffe1e6;
}
.App {
  background-image: linear-gradient(
    rgb(170, 220, 242) 20%,
    rgba(252, 246, 245, 0.6) 28%,
    rgb(242, 198, 207) 37%,
    rgb(244, 198, 198) 63%,
    rgb(197, 204, 130) 75%,
    rgb(151, 172, 59) 90%
  );
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 50px;
}
.bigwords {
  font-size: 8vw;
  font-family: var(--title-font);
}
.smallwords {
  font-family: var(--subtitle-font);
  font-size: 3vw;
}
.content p,
.content p a {
  font-family: var(--text-font);
  font-size: 2vw;
  color: black;
  text-decoration: none;
  margin-bottom: 1vw;
}
.content p a:hover {
  color: var(--soft-pink);
  transition: all ease 0.5s;
}
.space {
  max-width: 100%;
  height: 20px;
}
.alltogether {
  max-width: 100%;
  padding: 5%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  margin: 0 auto;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
}

.clouds {
  display: flex;
  justify-content: space-between;
}
.cloud {
  display: flex;
  justify-content: start;
  max-width: 95%;
  margin: 0 auto;
}
.cloudone,
.cloudtwo,
.cloudthree {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.cloudone {
  height: 10vh;
  width: 5vw;
  margin-top: 3vh;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.cloudtwo {
  height: 13vh;
  width: 10vw;
  border-top-left-radius: 28px;
  border-top-right-radius: 38px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.cloudthree {
  height: 9vh;
  width: 6vw;
  margin-top: 4vh;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.title {
  padding: 30px;
  padding-top: 60px;
  margin-top: 50px;
  margin-bottom: 80px;
}
.smallletters {
  display: flex;
  justify-content: left;
  height: 7vw;
  margin: 1vw;
}
.smallletters .name {
  font-size: 5vw;
  font-family: var(--subtitle-font);
}
.smallletters img {
  border-radius: 10px;
  height: 70%;
  width: auto;
  margin: 1vw;
}
.title .portfolio {
  font-size: 15vw;
  line-height: 15vw;
  font-family: var(--title-font);
}
.section {
  margin: 20vw 0;
}
.aboutTitle {
  display: flex;
  justify-content: center;
  line-height: 30px;
}
.abouts {
  line-height: 3vw;
}
.me {
  line-height: 3vw;
  margin-left: 1vw;
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px 0;
}
.aboutIntro a {
  font-size: 3vw;
}
.aboutIntro {
  max-height: max-content;
}

.aboutVideo video {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
ul {
  list-style: none;
}
.websiteTitle {
  max-width: max-content;
  margin: 0 auto;
}
.website {
  text-align: right;
  margin: 0 auto;
}
.collection {
  text-align: center;
  line-height: 8vw;
  font-family: var(--title-font);
}

.education,
.certifications {
  line-height: 8vw;
}

.educationSection {
  margin-top: 100px;
  border-radius: 30px;
}
.listofedu {
  padding: 50px 0;
}

.display {
  display: block;
  height: 30vw;
  scroll-behavior: smooth;
  overflow-y: scroll;
  padding: 2vw;
  margin: 20px 0;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 20px;
  scrollbar-width: none;
}
.certnone {
  display: none;
}
.certdis {
  display: block;
}
.upnone {
  display: none;
}
.updis {
  display: block;
}
.certbutton {
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: #ffe1e6;
  border-color: #ffe1e6;
}
.certbutton:hover {
  color: #ffe1e6;
  background-color: black;
  border-color: black;
  transition: all ease 1s;
}

.educationsection p {
  text-align: start;
}

@media (max-width: 1000px) {
  .clouds {
    display: none;
  }
  .App {
    padding-top: 20px;
  }
}
