:root {
  --title-font: "Stardos Stencil", system-ui;
  --subtitle-font: "Cormorant Infant", serif;
  --text-font: "Telex", sans-serif;
  --soft-pink: #ffe1e6;
}
.App {
  background-image: url("./paperbackground.jpeg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 100px;
}
h2 {
  font-family: var(--title-font);
  color: #122c4f;
}
h3 {
  font-family: var(--subtitle-font);
}
p {
  font-family: var(--text-font);
  font-size: 20px;
}
.title {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.title h2 {
  font-size: 100px;
  line-height: 100px;
  margin: 0 auto;
  font-family: var(--title-font);
}
.greeting {
  font-size: 85px;
  text-align: center;
}
.toppage {
  padding: 50px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  max-width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  border-top-left-radius: 0px;
}
.cloud {
  display: flex;
  justify-content: start;
  max-width: 95%;
  margin: 0 auto;
}
.cloudone,
.cloudtwo,
.cloudthree {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
}
.cloudone {
  padding: 10px;
  height: 10px;
  width: 50px;
  margin-top: 10px;
  border-top-left-radius: 20px;
}
.cloudtwo {
  padding: 15px;
  height: 30px;
  width: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 18px;
}
.cloudthree {
  padding: 10px;
  height: 5px;
  width: 30px;
  margin-top: 10px;
  border-top-right-radius: 20px;
}
.aboutSection {
  padding: 20px;

  margin: 0 auto;
  max-width: 95%;
  margin-top: 50px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
.aboutSection h2 {
  text-align: center;
  font-size: 90px;
  line-height: 200px;
}
.aboutMe {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.aboutIntro {
  padding: 20px;
}
.aboutMe video {
  padding: 20px;
}
footer {
  border: 1px solid black;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  margin-top: 90px;
}
.footertitle {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
}
li {
  text-align: start;
  padding: 10px 0;
  font-family: var(--subtitle-font);
  font-size: 30px;
}
li a {
  font-family: var(--text-font);
  font-size: 25px;
}
ul {
  list-style-type: none;
}
.aboutSection p {
  text-align: start;
}
.scrollingbehaviour {
  scroll-behavior: smooth;
}

.educationsection p {
  text-align: start;
}
.prompt {
  font-family: var(--title-font);
  font-size: 80px;
  color: #122c4f;
}
.graduationimg {
  border-radius: 10px;
  margin: 20px;
}

.maintitle {
  font-size: 80px;
  padding: 30px;
}
.aboutmenu {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 50px;
}
.aboutmenu a {
  border-left: 3px solid black;
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: pink;
  font-family: var(--subtitle-font);
  font-weight: bold;
}
.aboutmenu a:hover {
  color: black;
  transition: all ease 0.5s;
  border-color: pink;
}
.aboutintro {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px;
  margin: 10px 0;
}
.aboutintro .video {
  padding: 30px;
  padding-top: 0px;
}
.aboutintro video {
  border-radius: 10px;
  border: 1px solid black;
}

#aboutintroduction,
#aboutskills,
#aboutlanguage,
#abouthobby {
  padding: 10px;
  margin-top: 60px;
}
.contactsection ul li {
  font-size: 20px;
}
.contactsection ul li a {
  font-size: 20px;
}

.groupvid {
  display: flex;
  justify-content: space-around;
}
.mainpagecontent h2,
.mainpagecontent p {
  text-align: left;
}
