:root {
  --title-font: "Stardos Stencil", system-ui;
  --subtitle-font: "Cormorant Infant", serif;
  --text-font: "Telex", sans-serif;
  --soft-pink: #ffe1e6;
}
.App {
  text-align: center;
  background-image: url(/src/paperbackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}
.welcomeimg {
  border-radius: 10px;
}
h2 {
  font-family: var(--title-font);
  color: #122c4f;
}
h3 {
  font-family: var(--subtitle-font);
}
p {
  font-family: var(--text-font);
  font-size: 20px;
}
.title {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.title h2 {
  font-size: 100px;
  line-height: 100px;
  margin: 0 auto;
  font-family: var(--title-font);
}
header img {
  padding: 10px;
}
header {
  margin-top: 20px;
}
.syaf {
  border-radius: 10px;
}
.canvas {
  padding: 30px;
}

.emptyspace {
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  background-color: pink;
}

footer {
  border: 1px solid black;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  margin-top: 90px;
}
.footertitle {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
}
li {
  text-align: start;
  padding: 10px 0;
  font-family: var(--subtitle-font);
  font-size: 30px;
}
li a {
  font-family: var(--text-font);
  font-size: 25px;
}
ul {
  list-style-type: none;
}
.aboutSection p {
  text-align: start;
}
.scrollingbehaviour {
  scroll-behavior: smooth;
}
video {
  border-radius: 10px;
  margin: 10px 0;
}
.educationsection p {
  text-align: start;
}
.prompt {
  font-family: var(--title-font);
  font-size: 80px;
  color: #122c4f;
}
.graduationimg {
  border-radius: 10px;
  margin: 20px;
}

.maintitle {
  font-size: 80px;
  padding: 30px;
}
.aboutmenu {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 50px;
}
.aboutmenu a {
  border-left: 3px solid black;
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: pink;
  font-family: var(--subtitle-font);
  font-weight: bold;
}
.aboutmenu a:hover {
  color: black;
  transition: all ease 0.5s;
  border-color: pink;
}
.aboutintro {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px;
  margin: 10px 0;
}
.aboutintro .video {
  padding: 30px;
  padding-top: 0px;
}
.aboutintro video {
  border-radius: 10px;
  border: 1px solid black;
}

.aboutSection h3 {
  font-size: 40px;
}

#aboutintroduction,
#aboutskills,
#aboutlanguage,
#abouthobby {
  padding: 10px;
  margin-top: 60px;
}
.contactsection ul li {
  font-size: 20px;
}
.contactsection ul li a {
  font-size: 20px;
}
.aboutsectioncontent {
  display: flex;
  justify-content: space-evenly;
}
.aboutsectioncontent video {
  margin: 20px;
}
.aboutsectioncontenttwo {
  margin: 20px;
}
.aboutsectioncontent img {
  margin: 20px;
  border-radius: 10px;
}
.groupvid {
  display: flex;
  justify-content: space-around;
}
.mainpagecontent h2,
.mainpagecontent p {
  text-align: left;
}
