.certificates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  grid-column-gap: 5vw;
  padding: 3vw;
}

.certificates img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 1vw;
}
