footer {
  padding: 30px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border: 3px solid;
  border-radius: 50px;
}
.socmedlinks {
  height: 60px;
  display: flex;
  justify-content: center;
}
svg {
  margin: 0 50px;
}
