footer {
  padding: 5vw;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border: 3px solid;
  border-radius: 50px;
}
.footertitle {
  display: flex;
  justify-content: center;
  height: 5vw;
  margin-bottom: 5vw;
}
.footertitle h2 {
  font-family: "Stardos Stencil", system-ui;
  font-size: 5vw;
  height: max-content;
}
.footertitle img {
  height: 100%;
  margin-left: 1vw;
}
.socmedlinks {
  display: flex;
  justify-content: center;
  height: max-content;
}
svg {
  margin: 0 90px;
}
.ending {
  font-size: 30px !important;
  margin-top: 5vw;
}

@media (max-width: 1000px) {
  svg {
    margin: 0 5vw;
  }
  .footertitle {
    margin-bottom: 10vw;
  }

  .ending {
    font-size: 2vw;
    margin-top: 10vw;
  }
}
