footer {
  padding: 100px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border: 3px solid;
  border-radius: 50px;
}
.footertitle {
  display: flex;
  justify-content: center;
  line-height: 60px;
  margin-bottom: 60px;
}
.footertitle h2 {
  font-size: 60px !important;
  font-family: "Stardos Stencil", system-ui;
}
.footertitle img {
  margin-left: 30px;
}
.socmedlinks {
  height: 60px;
  display: flex;
  justify-content: center;
}
svg {
  margin: 0 50px;
}
.ending {
  font-size: 30px !important;
  padding-top: 50px;
  margin-top: 10px;
}
