:root {
  --title-font: "Stardos Stencil", system-ui;
  --subtitle-font: "Cormorant Infant", serif;
  --text-font: "Telex", sans-serif;
  --soft-pink: #ffe1e6;
}
p {
  font-size: 1vw;
}
h2 {
  font-family: var(--title-font);
  font-size: 2vw;
}
h3 {
  font-family: var(--subtitle-font);
  font-size: 2vw;
}
h4 {
  font-family: var(--subtitle-font);
  font-size: 2vw;
}
.vidone,
.vidtwo,
.vidthree {
  padding: 20px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
.vidone,
.vidthree {
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.vidtwo {
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
.websiteVids video {
  border-radius: 10px;
}
.videobutton {
  border: 0px;
  background-color: transparent;
}
.rowone,
.rowtwo,
.rowthree {
  display: grid;
  margin: 50px 0;
}
.rowone {
  grid-template-columns: 2fr 1fr 1fr;
}
.rowtwo {
  grid-template-columns: 1fr 2fr 1fr;
}
.rowthree {
  grid-template-columns: 1fr 1fr 2fr;
}
.individualvideos {
  width: 100%;
}
.emptyspace {
  width: 100%;
}
.firstsection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px 0;
}
.webinfo {
  overflow-y: scroll;
  scrollbar-width: none;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  padding: 50px;
  border-radius: 100px;
  border-top-left-radius: 0px;
  margin-left: 50px;
}
.weblink {
  color: #122c4f;
}
.weblink:hover {
  color: white;
}
.weblink:hover h2 {
  color: white;
}
.challenges li {
  list-style-type: decimal;
  font-size: 2vw;
  padding: 0px !important;
}
img {
  border-radius: 10px;
}
.buttonwidth {
  width: max-content;
}
.button {
  border: 1px solid black;
  padding: 2vw;
  width: max-content;
  max-height: max-content;
  border-radius: 10px;
  margin: 0 auto;
  background-color: black;
  color: rgb(242, 198, 207) !important;
  text-decoration: none !important;
  font-size: 1vw;
  line-height: 1vw;
  font-family: var(--text-font);
  display: flex;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(242, 198, 207);
  border-color: rgb(242, 198, 207);
  color: black;
  transition: all ease 1s;
}

.displayvideo {
  display: block;
  margin: 20px;
}
.displayimg {
  display: block;
  margin: 20px;
}
.displaynone {
  display: none;
}
.vidbutton {
  border: 0px;
  background-color: transparent;
}
@media (max-width: 1000px) {
  .firstsection {
    display: block;
  }
  .leftsection {
    display: flex;
  }
  .webinfo {
    margin-left: 0px;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 3vw;
  }
  h4 {
    font-size: 2vw;
  }
  p {
    font-size: 2vw;
  }

  .button {
    font-size: 2vw;
    line-height: 2vw !important;
  }
}
