.vidone,
.vidtwo,
.vidthree {
  padding: 50px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
.vidone,
.vidthree {
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.vidtwo {
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
.websiteVids video {
  border-radius: 10px;
}
.videobutton {
  border: 0px;
  background-color: transparent;
}
.rowone,
.rowtwo,
.rowthree {
  display: grid;
  margin: 50px 0;
}
.rowone {
  grid-template-columns: 2fr 1fr 1fr;
}
.rowtwo {
  grid-template-columns: 1fr 2fr 1fr;
}
.rowthree {
  grid-template-columns: 1fr 1fr 2fr;
}
.individualvideos {
  width: 100%;
}
.emptyspace {
  width: 100%;
}
.topsection {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
